@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<div class="menu-wrapper">

</div>
<div class="contact-hero-section wf-section">
    <div class="contact-page_background-wrapper">
        <div class="container contact">
            <h1 class="heading"> Library App </h1>
        </div>
    </div>
</div> 
<div class="contact-hero-bg-wrapper">
    <div class="container contact">
        <h1 class="heading">Contact Acme Outdoors</h1>
        <div class="contact-block-wrapper">
            <div class="contact-block">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84ba313e8232516a7da902_chat-alt.svg" alt="" class="contact-icon">
                <h2>Contact Us</h2>
                <p>Just want to say hi?&nbsp;We'd love to hear from you. We love our customers and community!&nbsp;</p>
                <a href="#contact" class="btn w-button">Send Us A Message</a>
            </div>
            <div class="contact-block">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e850414db1f6ebfba8bc42d_chat-warning.svg" alt="" class="contact-icon">
                <h2>Get Support</h2><p>Have an issue with an order or with a product you purchased from us?&nbsp;Fill out our support form.</p>
                <a href="https://university.webflow.com/support" target="_blank" class="btn w-button">Contact Support</a>
            </div>
        </div>
    </div>
    <div class="contact-image-div"></div>
</div>*@

<div class="allcontactpage">
    <div class="contact-page_background-wrapper">
        <div class="container contact">
            @*<div class="background">*@
                <h1 class="heading"> Library App </h1>
            @*</div>*@
        </div>
        @*hi, this is me*@
    </div>
    <address>
        <p class="footerLinks">
            Address:
            <a class="footerLinks" id="link" href="https://www.google.com/maps/place/Westview+Cemetery+Inc./33.7330846,-84.4306764,13.62z/data=!4m5!3m4!1s0x88f51cbbe22cb30f:0x7b869bcdcf20033c!8m2!3d33.7463642!4d-84.4422021">
                1680 Westview Dr SW,
                Atlanta, GA 30310 <br />
            </a>
        </p>
        <abbr title="Phone" class="footerLinks">P:</abbr>
        <a class="footerLinks" href="tel:1-237-2873" id="link">
            1-237-2873
        </a>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
