@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p class="footerLinks">
        Address:
        <a class="footerLinks" id="link" href="https://www.google.com/maps/place/Westview+Cemetery+Inc./33.7330846,-84.4306764,13.62z/data=!4m5!3m4!1s0x88f51cbbe22cb30f:0x7b869bcdcf20033c!8m2!3d33.7463642!4d-84.4422021">
            1680 Westview Dr SW,
            Atlanta, GA 30310 <br/>
        </a>
    </p>
    <abbr title="Phone" class="footerLinks">P:</abbr>
    <a class="footerLinks" href="tel:1-237-2873" id="link">
        1-237-2873
    </a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>