@{
    ViewBag.Title = "Login";
}


    <div class='parent-login'>
        <div class='box-login'>
            Login
            <form>
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" size="8"></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" size="8"></td>
                    </tr>
                </table>
                <button type="button">Login</button>

            </form>
        </div>
        <div class='box-register'>
            Register
            <form>
                <table>
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" size="8"></td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td><input type="text" size="8"></td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td><input type="text" size="8"></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><input type="text" size="8"></td>
                    </tr>
                    <tr>
                        <th>E-Mail Address:</th>
                        <td><input type="email" size="8"></td>
                    </tr>
                    <tr>
                        <th>Phone Number:</th>
                        <td><input type="text" size="8"></td>
                    </tr>
                </table>

                <button type="button">Submit</button>

            </form>
        </div>
    </div>
