

<div class="row" style="border: 5px solid #2CA6A4; margin-top: 20px; padding-bottom: 20px;">
    <div class="col-lg-6 col-lg-offset-1">
        <h2 class="support-text" > Support Request form!</h2>
        <form>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="First-Name">First Name</label>
                    <input class="form-control" id="First-Name" type="text" placeholder="First Name">
                </div>
                <div class="col-sm-6">
                    <label for="Last-Name">Last Name</label>
                    <input class="form-control" id="Last-Name" type="text" placeholder="Last Name">
                </div>
            </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input id="contact-input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your email (name@example.com)">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="phoneinput">Phone number</label>
                    <input id="contact-input" type="tel" class="form-control" id="phoneinput" placeholder="Your Phone Number Here (222-222-2222)">
                </div>
                <div class="form-group">
                    <label> Are you a member?</label> </br>
                    <label class="radio-inline"><input type="radio" name="optradio" checked> No, I am not a member</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Yes, I am a member</label>

                    @*<label class="checkbox-inline"><input type="checkbox" value="">Yes, I am a member</label>
                <label class="checkbox-inline"><input type="checkbox" value="">No, I am not a member.</label>*@
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your Issue</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your problem here! Please be specific as possible to have the best help."></textarea>
                </div>
                <button style="vertical-align:middle; font-size: 18px;" id="contact-button" type="button"> <span>Submit </span> </button>
        </form>
    </div>

</div>
