body {
    padding-top: 50px;
    /*padding-bottom: 50px;*/
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    padding: 5px;
}


/* our custom css*/
.allButFooter {
    min-height: calc(100vh - 364px);
}

.footer {
    background-color: #3D3D3D;
    min-height: 290px;
    max-height: stretch; /* to stretch the footer to the bottom*/
    width: 100%; /* to stretch the footer across the screen*/
    border-top-color: black;
    display: flex; /* for aligning the parts of the footer*/
    bottom: 0; /* this sets the footer at the bottom*/
}

.footerAllColumn{
    margin-left: 150px;
}
.footerCollumn {
    max-width: 360px;
    /*background-color: blanchedalmond;*/
    align-self: stretch;
    width: auto;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center; /* alines the text to the center of this content box*/
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: lightgray; /* color of text*/
}
.footerLinks{
    font-size: 18px;
    padding-block-start: 10px;
}
.newsletterInput {
    padding-block-start: 20px;
    font-size: 20px;
}
.newsletterInfo{
    font-size: 15px;
    color: darkgray;
    margin-top: 10px;
}
#newsletter {
    margin-left: 200px;
    margin-right: 100px;
}
button {
    float: right; /* stay to right of text box */
    background-color: #E05B2A;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: white;
    width: 110px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer; /* makes mouse look like a hand*/
}
button:hover {
    background-color: #CC4A22;
    color: white;
}
#faq{
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1000px;
}

.justspace{
    height: 500px;
}
::placeholder { /* for changing the place holder text color - Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5B5B5B;
    opacity: 100; /* needed for Firefox */
}
button span { /* selects span elements inside of the button element*/
    cursor: pointer; /* makes mouse look like a hand*/
    display: inline-block; /* says the elements should be inline with each other*/
    position: relative;
    transition: 2.5s;
}
    button span:after { /* inserts element after the span elements inside of the button element*/
        content: '\279C'; /* this is code for ➜ - see https://www.w3schools.com/cssref/css_entities.asp for more of these*/
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 2.5s;
    }

button:hover span { /* selects span elements inside of the button element when it is hovered*/
    padding-right: 25px;
}

button:hover span:after { /* edits/add all span elements (just an inline element) after the button's hover state (and selects span elements inside of the button element) */
        opacity: 1;
        right: 0;
}

body {
    margin: 0px;
}

header {
    background-color: #00b517;
    width: 100%;
    padding: 10px;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

    nav a:hover {
        background-color: #ddd;
        color: black;
    }

nav {
    display: inline-block;
    margin-left: 30px;
}

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.title {
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
}

.search {
    float: right;
    padding: 5px;
    display: flex;
}

.searchBy {
    margin-right: 5px;
}

.search button {
    background-color: #00b517;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
