body {
    padding-top: 0px;
    /*padding-bottom: 50px;*/
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    padding: 5px;
}


/* our custom css*/
.allButFooter {
    min-height: calc(100vh - 364px);
}

.justspace {
    height: 500px;
}

/* Base Footer Stuff*/
.footer {
    background-color: #3D3D3D;
    min-height: 290px;
    max-height: stretch; /* to stretch the footer to the bottom*/
    width: 100%; /* to stretch the footer across the screen*/
    border-top-color: black;
    display: flex; /* for aligning the parts of the footer*/
    bottom: 0; /* this sets the footer at the bottom*/
}

.footerCollumn {
    max-width: 360px;
    align-self: stretch;
    width: auto;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center; /* alines the text to the center of this content box*/
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: #D2DBDA; /* color of text - EDF7F6 white, 2CA6A4 - blue, D2DBDA - light Grey Silver*/
}
.footerLinks{
    font-size: 18px;
    padding-block-start: 10px;
}
/* newsLetter collumn stuff*/
.newsletterInput {
    padding-block-start: 20px;
    font-size: 20px;
}
.newsletterInfo {
    font-size: 15px;
    color: #B2B7B6; /* B2B7B6 - darker silver */
    margin-top: 10px;
}
#newsletter {
    margin-left: 200px;
    margin-right: 100px;
}
::placeholder { /* for changing the place holder text color - Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5B5B5B;
    opacity: 100; /* needed for Firefox */
}
button {
    float: right; /* stay to right of text box */
    background-color: #9F2CAD;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: white;
    width: 110px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer; /* makes mouse look like a hand*/
}
button:hover {
    background-color: #3B2685;
    color: white;
}

button span { /* selects span elements inside of the button element*/
    cursor: pointer; /* makes mouse look like a hand*/
    display: inline-block; /* says the elements should be inline with each other*/
    position: relative;
    transition: 2.5s;
}
button span:after { /* inserts element after the span elements inside of the button element*/
    content: '\279C'; /* this is code for ➜ - see https://www.w3schools.com/cssref/css_entities.asp for more of these*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 2.5s;
}
button:hover span { /* selects span elements inside of the button element when it is hovered*/
    padding-right: 25px;
}
button:hover span:after { /* edits/add all span elements (just an inline element) after the button's hover state (and selects span elements inside of the button element) */
        opacity: 1;
        right: 0;
}
/* FAQ collumn*/
#faq {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1000px;
}
/* style to change color of links */
#link{
    color: #9F2CAD;
}
    #link:hover {
        color: #5D43C1;
        /* see https://www.w3schools.com/cssref/css3_pr_text-shadow.asp for more on text shadows*/
        text-shadow: -1px 1px 2px #000, /*  h-shadow (horizontal), v-shadow (vertical), blur-radius, color -- left bottom shadow */
                    1px 1px 2px #000; /*more than 1 shadow - right bottom*/
                    /*1px -1px 0 #000;*/ /* top right shadow - need comma to activate*/
                    /*-1px -1px 0 #000;*/ /* top left shadow*/
    }
/* change color of the headers on the footer collumns*/
#footerCollumnHeader {
    color: #2CA6A4; /* EDF7F6 white, 2CA6A4 blue*/
}

/*Begin header styling*/

body {
    margin: 0px;
}

header {
    background-color: #2CA6A4;
    width: 100%;
    padding: 10px;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #9F2CAD;
    color: white;
}

nav {
    display: inline-block;
    margin-left: 30px;
}

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.title {
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
}

.search {
    float: right;
    padding: 5px;
    display: flex;
}

.searchBy {
    margin-right: 5px;
}

.search button {
    background-color: #2CA6A4;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
