body {
    padding-top: 0px;
    /*padding-bottom: 50px;*/
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    padding: 5px;
}


/* our custom css*/
main {
    min-height: calc(100vh - 364px);
    margin-top: 2%;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 2%;
}
.allButFooter{

}
.justspace {
    height: 500px;
}

/* Base Footer Stuff*/
.footer {
    background-color: #3D3D3D;
    min-height: 290px;
    max-height: stretch; /* to stretch the footer to the bottom*/
    width: 100%; /* to stretch the footer across the screen*/
    border-top-color: black;
    display: flex; /* for aligning the parts of the footer*/
    bottom: 0; /* this sets the footer at the bottom*/
}

.footerCollumn {
    max-width: 360px;
    align-self: stretch;
    width: auto;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center; /* alines the text to the center of this content box*/
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: #D2DBDA; /* color of text - EDF7F6 white, 2CA6A4 - blue, D2DBDA - light Grey Silver*/
}
.footerCollumn2 {
    /*max-width: 360px;
    align-self: stretch;
    width: auto;*/
   /* margin-right: 150px;
    margin-left: 150px;*/
    text-align: center; /* alines the text to the center of this content box*/
    font-size: 30px;
   /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;*/
    color: #D2DBDA; /* color of text - EDF7F6 white, 2CA6A4 - blue, D2DBDA - light Grey Silver*/
}
.footerLinks {
    font-size: 20px;
    padding-block-start: 10px;
    padding-top: 1%;
    padding-bottom: 2%;
}
/* change color of the headers on the footer collumns*/
#footerCollumnHeader {
    color: #2CA6A4; /* EDF7F6 white, 2CA6A4 blue*/
    font-size: 28px;
    padding-top: 3%;
    text-align: center;
}

.footerSpace {
    margin-top: 2%;
    padding: 10px;
}
.footerButton {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 6%;
    padding-top: 4%;
    padding-bottom: 7%;
}
/* newsLetter collumn stuff*/
#newsletterInput {
    /*padding-block-start: 20px;*/
    font-size: 14px;
}
.newsletterInput2 {
    padding: 0;
    margin: 0;
    /*width: 100%;*/
    font-size: 16px;
}
.newsletterInfo {
    font-size: 16px;
    color: #B2B7B6; /* B2B7B6 - darker silver */
    margin-top: 2%;
    text-align: center;

}
#newsletter {
    margin-left: 200px;
    margin-right: 100px;
}

/* footer button styling*/

::placeholder { /* for changing the place holder text color - Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5B5B5B;
    opacity: 100; /* needed for Firefox */
}
button {
    float: right; /* stay to right of text box */
    background-color: #9F2CAD;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: white;
    width: 110px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer; /* makes mouse look like a hand*/
}
button:hover {
    background-color: #3B2685;
    color: white;
}

button span { /* selects span elements inside of the button element*/
    cursor: pointer; /* makes mouse look like a hand*/
    display: inline-block; /* says the elements should be inline with each other*/
    position: relative;
    transition: 2.5s;
}
button span:after { /* inserts element after the span elements inside of the button element*/
    content: '\279C'; /* this is code for ➜ - see https://www.w3schools.com/cssref/css_entities.asp for more of these*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 2.5s;
}
button:hover span { /* selects span elements inside of the button element when it is hovered*/
    padding-right: 25px;
}
button:hover span:after { /* edits/add all span elements (just an inline element) after the button's hover state (and selects span elements inside of the button element) */
        opacity: 1;
        right: 0;
}
/* FAQ collumn*/
#faq {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1000px;
}
/* style to change color of links */
#link{
    color: #9F2CAD;
}
#link:hover {
    color: #5D43C1;
    /* see https://www.w3schools.com/cssref/css3_pr_text-shadow.asp for more on text shadows*/
    text-shadow: -1px 1px 2px #000, /*  h-shadow (horizontal), v-shadow (vertical), blur-radius, color -- left bottom shadow */
                1px 1px 2px #000; /*more than 1 shadow - right bottom*/
                /*1px -1px 0 #000;*/ /* top right shadow - need comma to activate*/
                /*-1px -1px 0 #000;*/ /* top left shadow*/
}
#link2 {
    color: #9F2CAD;
}

    #link2:hover {
        color: #5D43C1;
        /* see https://www.w3schools.com/cssref/css3_pr_text-shadow.asp for more on text shadows*/
        text-shadow: -1px .5px 1px #000, /*  h-shadow (horizontal), v-shadow (vertical), blur-radius, color -- left bottom shadow */
        1px .5px 1px #000; /*more than 1 shadow - right bottom*/
        /*1px -1px 0 #000;*/ /* top right shadow - need comma to activate*/
        /*-1px -1px 0 #000;*/ /* top left shadow*/
    }


/* End Footer Stlying*/
/* Begin header styling */
body {
    margin: 0px;
}
/* Header text */
header {
    background-color: #2CA6A4;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 5px #9F2CAD;
    height: fit-content;
}
/* Navbar text */
nav a {
    color: #f2f2f2; /* #9F2CAD;*/
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

    nav a:hover {
        background-color: #9F2CAD; /*  #5D43C1; */
        color: white;
        box-shadow: 0px 3px #5d43c1;
        border-radius: 6px;
        /*text-decoration-color: #5D43C1;*/
    }

nav {
    display: inline-block;
    margin-left: 0px;
   /* margin-left: -20px;*/
}

/* make nav bar in line and title look good */
.headerButtons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 10px;
    margin-top: 2%;
}
headerButtons-list{
    display:inline;
   /* min-height: fit-content;*/
}
.title {
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    padding-left: 20px;
}

/* Search bar stuff*/
.search input[type=text] {
    width: 281px;
    max-width: 100%;
    height: 28px;
    float: left;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    box-shadow: 0px 4px #5d43c1;
    padding: 9px 0px 9px 10px;
}
.search {
    float: left;
    padding: 13px;
    /*display: flex;*/
    width: 100%;
}

.searchBy {
    margin-right: 5px;
}

.search button {
    color: #f2f2f2;
    float: left;
    padding: 5px 10px;
   /* margin-right: 16px;*/
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color: #9f2cad;
    box-shadow: 0px 4px #5d43c1;
    margin-left: 2%;
    width: 28%;
}
/* End header styling */

/*CSS for Login Page Starts Here*/
.parent-login { /*Define the div that contains the two forms*/
    border: 1px solid white;
    margin: 1rem;
    padding: 2rem 2rem;
}

.box-login { /*Formatting for the login form/table*/
    display: inline-block;
    text-align: center;
    border: 1px solid black; 
    padding: 1rem 1rem;
    margin-left: 15%; /*Margin added to center the two tables*/
    margin-right: 10%;
    vertical-align: middle;
    width: 200px;
    height: 250px;
}

.box-login ul {
        text-align: left;
        padding: 0;
        margin-right: 0;
}

.box-login table {
        width: 30%;
        border-right: 0;
}

.box-login td {
        text-align: right;
}
.box-login th {
        font-weight: normal; /*Override the bold from th*/
        text-align: left;
}

.box-register {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-left: 10%; /*Center the two forms*/
    margin-right: 15%;
    width: 200px;
    height: 250px;
}

.box-regsiter th {
    text-align: left;
    font-weight: normal; /*Override the bold from th*/
}

.box-register td {
    text-align: right;
}
.box-register button{
    margin: auto;
}
.box-login button {
    vertical-align: central;
    position:relative; top :75px;
}
/**End of Login-Page CSS*/

/* Begin Home/Index CSS*/

/* New additions CSS*/
.new-additions {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: #2CA6A4;
    color: white;
    box-shadow: 0px 5px #9F2CAD;
}
/* Carousel CSS */
#myCarousel{
    margin-top: 1%;
}

#image-height {
    height: 300px;
}

.item {
    background-color: #9F2CAD;
}
.carousel-indicators {
    margin-left: 20%;
}

.carousel-caption {
    margin-bottom: 50px;
    background-color: #B2B7B6;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(2, 2, 2, 0.5);
    /*opacity: 0.6;*/
}
    /*.carousel-caption h3 {
        opacity: 1;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 29px;
        font-weight: normal;
        line-height: 1.6em;
    }*/
    .summary-text {
        font-size: 18px;
    }
/*Info Block CSS*/

.row{
    margin-right: 0px;
    margin-left: 0px;
}

/*Hours*/

.schedule{
    width: 100%;
    font-size: 18px;

}

.schedule td {
    text-align: center;
    padding-right: 20px;
}

#home-center-box {
 /*padding: inherit, 5%, inherit, 5%;*/
    padding-left: 10%;
    padding-right: 10%;
}
h3{
    font-size: 22px;
}
p{
    font-size: 16px;
}
.hours-block {
    /*width: 200px;*/
    height: 300px;
   /* float: left;
    width: 33.3%;*/
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
    text-align: center;
}
.hours-block2 {
    /*width: 200px;*/
    height: 300px;
    /* float: left;
    width: 33.3%;*/
    border: 1px solid #ccc;
    padding: 0px;
    margin-top: 1%;
    box-sizing: border-box;
   /* margin-bottom: 1%;*/
    text-align: center;
}
/*Location*/
.block2 {
/*    width: 200px;*/
    height: 300px;
/*    float: left;
    width: 33.3%;*/
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 1%;
    text-align: center;
}
/*Map Image block*/
.block3 {
/*    width:200px;*/
    height: 300px;
/*    float: left;
    width: 33.3%;*/
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 1%;
    background-image: url(../Content/book-images/map.jpg);
    background-repeat: no-repeat;
}
#image-height2 {
    /* max-width: 100%;
    min-height: 20%; */
    max-height: 100%;
    /*height: 100%;*/
    max-width: 100%;
    /*object-fit: contain; */
    margin: auto;
    display: block;
}

.hours-box-center3 {
   /* max-width: 100%;*/
    height: 300px;
}
.map-title {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 0px;
    width: 0px;
}

.block-links {
    font-size: 18px;
    padding-block-start: 10px;
    color: #9F2CAD;
}
/*Location and Hours title bar*/
.home-dividers {
    border: 1px #ccc solid;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: #2CA6A4;
    color: white;
    box-shadow: 0px 5px #9F2CAD;
    
}
h2 {
    font-size: 24px;
}

#home-faq {
    /*height: 30vh;*/ /* Relative to 30% of the height of the viewport (browser window size)**/
    min-height: max-content;
    height: auto;
    overflow: auto; /* if content is too big then, extends box (see https://www.w3schools.com/css/css_overflow.asp for more details*/
}
.faq-box {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: #2CA6A4;
    color: white;
    box-shadow: 0px 5px #9F2CAD;
}
.loc-and-hours-container{
    padding: 20px;
    height: 20px;
}
/* Contact page css*/
.menu-wrapper {
    position: sticky;
    top: 0px;
    z-index: 900;
}

.contact-hero-section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: chartreuse;
    color: brown;
}

.allcontactpage{
    display: flow;
}
.contact-page_background-wrapper {
    position: relative;
    display: flex;
    /*flex-direction: row;
    justify-content: start;*/

    /*justify-content: space-between;*/
    flex-direction: row;
    align-items: flex-start;
    /*justify-content: flex-end;*/
    /*background-color: blue;*/
    background-color: darkmagenta;
    width: 100%;
    height: 200px;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    /*justify-items: left;*/
   /* background-color: lightblue;*/
}
.container.contact {
    /*position: absolute;*/
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: aliceblue;
    width: 200px;
    height: 200px;

   /* align-self: center;*/
    /*justify-self: left;*/
    
}
.background{
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    color: darkblue;
   
}

heading {
    margin-top: 55px;
}
h1 {
    font-size: 38px;
    line-height: 44px;
    /*color: aqua;*/
}

.content-section {
    padding-top: 65px;
    padding-bottom: 65px;
}
* {
    box-sizing: border-box;
}

/***   Contact page CSS*/

.contact-icon {
    margin-bottom: 10px;
}

.contact-container {
    background-color: dimgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.support-box-header {
    margin: 5px;
     color: #9F2CAD;
    /*color: #2CA6A4;*/
}
#contact-button{
    float: none;
    min-width: 150px;
    min-height: 40px;
}

#contact-input{
    max-width: 100%;
}
#exampleFormControlTextarea1{
    max-width: 100%;
}
.long-container{
    max-width: 1600px;
    width: 100%;
}
.support-title {
    color: #9F2CAD;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    /*background-color: ghostwhite;*/
    /*border-width: 6px;
    border-style: solid;
    border-color: #2CA6A4;*/
    text-shadow: -2px 1px 2px #2CA6A4, 
        1px 1px 2px #2CA6A4, 
        1px 1px 0 #2CA6A4, 
        -1px -1px 0 #2CA6A4, 

        -1px 1px 0px white, 
        1px 0px 2px white, 
        1px -2px 2px white, 
        -2px -2px 0px white
}
.support-text {
    color: #9F2CAD;
    /*padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;*/
}
#contact-head{
    margin-right: 0px;
    margin-left: 0px;
}
input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

label {
    display: block;
}


@media only screen and (max-width: 1080px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }

    .search {
        display: inline-block;
        /*background-color: blue;*/
        float: none;
        margin-left: 4%;
    }

    .search input[type=text] {
        width: 69%;
        font-size: 14px;
        padding-left: 3.5%;
    }

    nav {
        width: 100%;
        margin-left: -4%;
        /* padding: 5%;*/
    }

        nav a {
            width: 100%;
            padding: 13% 17% 20% 17%;
            /*padding-bottom: 20%;*/
            /* margin-left: 25%;*/
        }

        nav li {
            padding-left: 6%;
        }

    .headerButtons {
        margin-left: 5%;
    }

    .search button {
        width: 27%;
    }

    .newsletterInput2 {
        font-size: 16px;
    }

    .newsletterInput2 input[type=email] {
        padding-left: 2%;
        margin-bottom: 2%;
    }
    #image-height {
        height: 300px;
        /*margin-left: 10%;*/
    }
    .footerButton {
        /*        width: 100%;
        min-width: 100%;
        max-width: 100%;*/
        /*height: 100%;*/
        /*padding: 3%;*/
        font-size: 17px;
        padding-top: 1.35%;
        padding-bottom: 2.5%;
    }

    #footerCollumnHeader {
        padding-top: 5%;
    }

    .footerCollumn2 {
        margin-bottom: 5%;
        height: 100%;
    }
    main {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 10%;
    }
    .home-dividers{
        margin-top: 12%;
        margin-bottom: 5%;

    }
    .map-title {
       /* height: 100%;
        width: 100%;*/
       height: 10%;
       width: 100%;
        padding-bottom: 10%;
        text-indent: 0%;
        white-space: nowrap;
        overflow: hidden;
    }
    #image-height2 {
        border-radius: 15px;
        width: 300px;
    }
    /* hours-block*/
    .hours-block {
        /*width: 200px;*/
        height: 300px;
        /* float: left;
    width: 33.3%;*/
        background-color: #2CA6A4;
        color: white;
        /*border: 1px #ccc solid;*/
        box-shadow: 0px 6px #9F2CAD;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 0px;
        border-radius: 15px;
        box-sizing: border-box;
        
        text-align: center;

    }
    .hours-block2 {
        /*width: 200px;*/
        height: 300px;
        /* float: left;
    width: 33.3%;*/
        background-color: #2CA6A4;
        color: white;
        /*border: 1px #ccc solid;*/
        box-shadow: 0px 6px #9F2CAD;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 0px;
        border-radius: 15px;
        box-sizing: border-box;
        text-align: center;
        
    }
    .hours-box-center {
        background-color: white;
        color: black;
        margin-bottom: 0%;
        padding-top: 4%;
        padding-bottom: 5%;
        border-radius: 15px;
        margin-left: 3%;
        margin-right: 3%;
    }
    .hours-box-center3 {
        background-color: white;
        color: black;
        margin-bottom: 0%;
        padding-top: 4%;
        min-height: 20%;
        padding-bottom: 20%;
        border-radius: 15px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        max-height: 90%;
        /*margin-top: 3%;*/
    }
    .hours-box-center2 {
        background-color: white;
        color: black;
        margin-bottom: 0%;
        padding-top: 4%;
        padding-bottom: 10%;
        text-align: center;
        border-radius: 15px;
        padding-left: 6%;
        padding-right: 6%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #home-center-box{
        /*padding: inherit, 5%, inherit, 5%;*/
        padding-left: 5%;
        padding-right: 5%;
        
    }
    h3{
        font-size: 21px;
        
    }
    #location-header {
        margin-bottom: 14%;
    }
    .schedule {
        padding-right: 120px;
        width: 100%;
    }
    .schedule td {
        text-align: center;
        padding-right: 20px;
    }

    /*Location*/
    .block2 {
        /*    width: 200px;*/
        height: 300px;
        /*    float: left;
    width: 33.3%;*/
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 1%;
        text-align: center;
    }
    /*Map Image block*/

}
